* {
  margin: 0;
  padding: 0;
}

/* The calc div area positioning */
.main-calc-body {
  position: absolute;
  top: 30%;
  left: 40%;
}

/* Styling all button */
button {
  width: 4rem;
  height: 3.5rem;
  margin: 3px;
  background-color: rgb(14, 9, 9);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}

/* Styling ` operants ` different Colors */
.plus {
  background-color: coral;
}
.minus {
  background-color: plum;
}
.multiply {
  background-color: skyblue;
}
.divide {
  background-color: rgb(53, 150, 53);
}
.equals {
  background-color: rgb(228, 43, 43);
}
.display {
  background-color: rgb(84, 146, 218);
  width: 17.9rem;
  border: none;
}
